.cutive-mono-regular {
	font-family: 'Cutive Mono', monospace;
	font-weight: 400;
	font-style: normal;
}
.cutive-mono-big {
    font-family: 'Cutive Mono Big', monospace;
    font-weight: 700;
    font-style: normal;
}

#home {
	font-family: 'Cutive Mono', monospace;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	color: rgb(255, 252, 252);
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 50px;
	margin: 0 auto;
	width: 50%;
	padding: 10px;
}	

body .spec {
    color: rgb(254, 239, 23);
    font-family: Cutive Mono Big, monospace;
    font-weight: 700;
    font-style: normal;
    font-size: larger;
    text-align: center;
    list-style-position: inside;
}

body {
	background-image: url(background.png);
}

h1 {
	font-family: 'Cutive Mono', monospace;
	font-weight: 700;
	font-style: normal;
	text-align: center;
	color: rgb(255, 252, 252);
	display: flex;
	justify-content: center;
	align-items: center;
}

ul li {
	font-family: 'Cutive Mono', monospace;
	color: rgb(255, 255, 255);
	text-align: center;
	list-style-position: inside;
	justify-content: left;
	align-items: left;
}
p {
    font-family: 'Cutive Mono', monospace;
    color: rgb(255, 255, 255);
    text-align: center;
    justify-content: center;
    align-items: center;
}