* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}
.cutive-mono-regular {
	font-family: 'Cutive Mono', monospace;
	font-weight: 400;
	font-style: normal;
}

.logo {
  margin-right: auto;
  
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: 'Cutive Mono', monospace;
	font-weight: 400;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: #976f0890;
}

.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgb(179, 150, 3);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgb(179, 150, 3);
}

